<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
      }

      img {
        max-width: 180px;
      }
      span{
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="https://i.imgur.com/oUAKMC5.png"/>
      <span>Hi, {{name}}</span>
      <br/>

      <span>You request the password recovery.</span>
      <span>To reset the password, click on the link: <a href={{link}}>{{link}}</a></span>
      <span>If you have not requested password recovery, just ignore this email.</span>

      <strong>Thank you!</strong>
      <h3>Team | <strong>Rentx</strong></h3>
    </div>
  </body>
</html>
